@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme{
  --font-geist: 'Geist', sans-serif;
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-muted: #a3a3a3;
  --color-accent: #4b5563;
  --color-accent-hover: #374151;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-border: #333333;
  --color-card: #1e1e1e;
  --color-header: #0a0a0a;
  --color-footer: #0a0a0a;
  --color-hover: #2a2a2a;
  --color-disabled: #4b4b4b;
}

*{
  scroll-behavior: smooth;
}